.global-layout {
  display: flex;
  height: 100vh;

  .global-slider {
    width: 220px
  }

  .main-container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .bg-image {
      position: absolute;
      top: 0;
      left: 50%;
      height: 30vh;
    }

    .main-content {
      flex: 1;
      overflow: auto;
      padding: 30px;
    }
  }
}